\:root
  /// title text
  --black: #000

  /// text
  --limedSpruce: #354149

  /// navbar text
  --mineShaft: #333

  /// tab, placeholder text
  --emperor: #555

  /// unselected tab text
  --boulder: #777

  /// message text
  --abbey: #4a4d52

  /// primary message header text
  --walnut: #703A18

  /// secondary message header text
  --cloudBurst: #203245

  /// primary message time
  --quicksand: #BBA08E

  /// secondary message time
  --gullGray: #9aa8b7

  /// primary button, typing indicator
  --bostomBlue: #3A87AE

  /// message preview text
  --dustyGray: #999999

  /// page background
  --shuttleGray: #576570

  /// header, chat list backgound
  --white: #fff

  /// chat background
  --geyther: #d6dee7

  /// primary message header background
  --pancho: #f0cbb2

  /// secondary message header background
  --heather: #becbd9

  /// online indicator
  --malachite: #20d63e

  /// offline indicator
  --alizarinCrimson: #d62620

  /// unselected tab background
  --alabaster: #f7f7f7

  /// box shadow
  --boxShadow: rgba(0,1,1,0.21)

  /// slider background
  --slider: #9DAAB9

  /// input border
  --silver: #ccc

  /// tab border
  --alto: #ddd
