.container
  flex: 1 1 auto
  position: relative

.chatBody
  padding: 1.25rem 0.625rem
  display: flex
  flex-direction: column
  justify-content: space-between
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

.messageListWrapper
  display: flex
  flex-direction: column-reverse
  overflow-y: auto
  overflow-x: hidden
  flex: 1 1 auto

.messageList
  display: flex
  flex-direction: column
  padding: 0 1.5rem 0 0.625rem

.messageListWrapper::-webkit-scrollbar
  width: 10px

.messageListWrapper::-webkit-scrollbar-track
  border-radius: 5px
  background-color: var(--heather)

.messageListWrapper::-webkit-scrollbar-thumb
  border-radius: 5px
  background-color: var(--slider)

.controls
  padding-right: 1.25rem
  display: flex
  gap: 0.625rem
  position: relative
  padding-top: 1.5625rem

.controls .input
  font-size: 0.875rem

.controls .sendBtn
  font-size: 0.875rem
  padding: 0 3.4375rem
  flex: 1 0 auto

.typingIndicator
  height: 25px
  color: var(--bostomBlue)
  font-size: 0.875rem
  display: flex
  justify-content: center
  align-items: center
  position: absolute
  top: 0
  left: 50%
  transform: translateX(-50%)

@media screen and (max-width: 768px)
  .controls .sendBtn
    padding: 0 0.625rem
